header{
    font: 300 20px Roboto,sans-serif;
    position: center;
    width: 100%;
    background: rgb(34, 43, 51);
    height: 80px;
    left: 0px;
    top: 0px;
    display: flex;
    
}

header h1{
    margin-top: 18px;
}

h1,h2,h3{
    font: 300 Roboto,sans-serif;
    margin-left: 20px;
    color: #ffffff;
    
}

header h2,h3{
    margin-top: 30px;
    margin-left: 35px;
}