section{
    float: left;
}
div .form{
    align-items: center;
}

.movieSec{
    margin-left: 200px;
    width: 300px;
    margin-top: -10px;
}
.movieData{
    font: 700 75px Roboto,sans-serif;
    
}
.registroOnly{
    margin-top: 25px;
    max-width: 350px;
    display: flex;
    margin-left: 700px;
    
}

.registroOnly + .registroOnly{
    margin-top: 5px;
}


.button{
    width: 350px;
    margin-left: 700px;
    background:rgb(34, 43, 51);
}