section{
    float: left;
}
div .form{
    align-items: center;
}
h1{

}
.registroOnly{
    margin-top: 30px;
    max-width: 350px;
    display: flex;
    margin-left: 800px;
    
}


input+input,textarea{
    margin-top: 15px;
}

input+textarea,input{
    margin-top: 15px;
}

.button{
    width: 350px;
    margin-left: 800px;
    background:rgb(34, 43, 51);
}